

.logo{
    text-align: center;
    font-family: Courier;
    color: white;
    font-size: 120px;
}	

.container {
    margin:0 auto;
    width:780px;
    display:block;
}

.header {
    margin: 0 auto;
    padding:25px;
}


.items {   
    display:block;
    text-align: center;
    padding-left: 51px;
}

.items li {
    font-family: courier;
    float: left;
    margin: 0px 15px;
    display: block;
}

.items li a {
    float: left;
    display: block;
    color:#fafafa;
    padding:5px 10px;
    text-decoration: none;
}

.items li a:hover {
    float: left;
    display: block;
    color:#fff;
    border-bottom:5px solid #fff;
    padding:2px 10px;
    text-decoration: none;
}

.info{
  margin: 5px 30px 30px 85px;
  padding: 15px 15px;
  border-radius:8px;
  background-color: rgba(255, 255, 250, 0.6);
  width: 1100px;
  align: center;
}


.main_info{
    display:block;
    margin: 0px 0px;
    padding: 5px 5px;	
}

.main_info img {
    float: right;
    border:0;
    width: 500px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
     opacity: 0.7;
}

.main_info img:hover{ 
    transform:scale(1.2,1.2);
    -moz-transform: scale(1.02,1.02);
    -o-transform: scale(1.02,1.02);
    -webkit-transform: scale(1.02,1.02);
    box-shadow:0px 0px 30px gray; 
    -webkit-box-shadow:0px 0px 30px gray; 
    -moz-box-shadow:0px 0px 30px gray;
    opacity: 2;
}

.main_info_table img{
    align: center;
    margin: 3% 58%;
    padding: 5px 5px 5px 5px;
    border:0;
    width: 500px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
     opacity: 0.7;  
}

.main_info_table img:hover{
    -webkit-transition: width 2s; 
    transform:scale(1.8,1.8);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);
    -webkit-transform: scale(1.08,1.08);
    box-shadow:0px 0px 30px gray;
    -webkit-box-shadow:0px 0px 30px gray; 
    -moz-box-shadow:0px 0px 30px gray; 
    opacity: 2;
}