body{
  background-color: #1E90FF;
  border: dashed 50px;
  border-color: #191970;
}
  
.start {
  margin: 35% 28%;
  font-family: serif;
  font-size: 250px;
  color: #9400D3;
  
}

.start a{
  font-family: serif;
  color: #9400D3;
  text-decoration: none;
  
}

.start a:hover{
  font-family: monospace;
  font-size: 274px;
  color: #00FA9A;
  text-decoration: line-through;
  
}
